:root {
  --accent-color: #2196f3;
  --main-white: #ffffff;
  --accent-black: #757575;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  /* width: 1600px; */
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 2px solid tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Сброс*/
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

.list {
  list-style: none;
}

/* ======== COMPONENTS ========*/
.common-headings {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* ======== /COMPONENTS ========*/

/* ======== HEADER MAIN========*/

.page-header {
  border-bottom: 1px solid #ececec;
}

.nav-flex {
  display: flex;
  align-items: center;
}

.logo {
  /* display: flex; */
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.menu {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.navigation {
  display: flex;
}

.navigation .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation .accent {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

/* .menu .item {
  margin-right: 50px;
}

.menu .item:not(:last-child) {
  margin-right: 0;
} */

.menu .item + .item {
  margin-left: 50px;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.studio-link {
  color: var(--accent-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.nav-contact {
  display: flex;
  margin-left: auto;
}

.nav-contact .item + .item {
  margin-left: 50px;
}

.nav-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--accent-black);
}

.nav-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--accent-black);
}

/* ======== /HEADER ========*/

/* ======== HERO ========*/

.hero {
  max-width: 1600px;
  height: 600px;
  
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background: #2f303a;
  background-image:
  linear-gradient(to right, rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)),
  url('../images/hero-pic/hero-pic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  text-align: center;
  
  
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  max-width: 696px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white);
}

.hero-btn {
  /* display: inline-block; */
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  background: var(--accent-color);
  color: var(--main-white);
}

.hero-btn:hover,
.hero-btn:focus {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #188ce8;
  color: var(--main-white);
}

/* ======== /HERO ========*/



/* ======== ABOUT ========*/

.about {
  padding-bottom: 0px;
}

.about-flex {
  display: flex;
}

.about-flex .item {
  width: 270px;
}

.about-flex .item + .item {
  margin-left: 30px;
}

.about-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.about-description {
  /* margin-bottom: 10px; */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--accent-black);
}

/* ======== /ABOUT ========*/

/* ======== Examples ========*/

img {
  display: block;
}

.example-flex {
  display: flex;
}

.example-flex .item + .item {
  margin-left: 30px;
}

/* ======== /Examples ========*/

/* ======== TEAM ========*/

.team {
  background: #f5f4fa;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /*text-align: center;*/
  letter-spacing: 0.03em;
}

/* .team-img {
  margin-bottom: 30px;
} */

.subtitle {
  /* margin-bottom: 30px; */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /*text-align: center;*/
  letter-spacing: 0.03em;

  color: var(--accent-black);
}

.team-flex {
  display: flex;
}

.team-flex .item + .item {
  margin-left: 30px;
}

.pic-discription {
  padding: 30px 15px;
  text-align: center;
}

/* ======== /TEAM ========*/
/* ======== FOOTER ========*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  /* padding-left: 215px; */
  background: #2f303a;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer .accent {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-white);
}

.footer-addres {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-white);
}

.footer-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
/* ======== /FOOTER ========*/

/* ======== MAIN PORTFOLIO========*/

/* ======== MENU BTN========*/

.menu-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.menu-flex .item + .item {
  margin-left: 8px;
}

.filter-btn {
  padding: 6px 22px;
  /* display: flex; */
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: #f5f4fa;
}

.filter-btn:hover,
.filter-btn:focus {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: var(--accent-color);
  color: var(--main-white);
}

.filter-btn-active {
  background: var(--accent-color);
  color: var(--main-white);
}

/* ======== /MENU BTN========*/

/* ======== OUR WORK ========*/

.our-work-list {
  display: flex;
  flex-wrap: wrap;

  /* background-color: #188ce8; */
}

.our-work-title {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.project-name {
  margin-bottom: 4px;
}

.our-work-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.our-work-item:nth-child(3n) {
  margin-right: 0px;
}

.our-work-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--accent-black);
}

.portfolio-link {
  color: var(--accent-color);
}

.project-type:hover,
.project-type:focus {
  color: var(--accent-color);
}

/* ======== /OUR WORK ========*/
